<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="diagram.composite" point="org.eclipse.e4.workbench.model">
      <fragment
            uri="e4model/diagram_composite_editor.e4xmi">
      </fragment>
      <processor beforefragment="true" class="org.modelio.diagram.editor.composite.plugin.CompositeProcessor"/>
   </extension>
   <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.composite.editor.CompositeDiagramEditorInputProvider"/>
   </extension>
</plugin>
