<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="markerAttributeContributer" name="MarkerAttributeContributer" schema="schema/markerAttributeContributer.exsd"/>
   <!--extension
         point="org.modelio.app.preferences.preferencePages">
      <page
            class="org.modelio.edition.richtext.view.preferences.RichTextPreferencePage"
            id="org.modelio.edition.richtext.prefPage"
            name="%RichTextPreferencePage">
      </page>
   </extension-->

</plugin>
