<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="diagram.bpmn" point="org.eclipse.e4.workbench.model">
      <fragment
            uri="e4model/diagram_bpmn_editor.e4xmi">
      </fragment>
      <processor beforefragment="true" class="org.modelio.diagram.editor.bpmn.plugin.BpmnProcessor"/>
   </extension>
   
   <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.bpmn.editor.BpmnDiagramEditorInputProvider"/>
   </extension>

   <extension
         id="org.modelio.diagram.editor.bpmn.MutateBpmnTaskId"
         point="org.modelio.diagram.editor.toolregistry">
      <creationtool
            id="CREATE_BPMNBUSINESSRULETASK"
            interactor="node"
            label="%BpmnBusinessRuleTask.label"
            tooltip="%BpmnBusinessRuleTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnBusinessRuleTask">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNTASK"
            interactor="node"
            label="%BpmnTask.label"
            tooltip="%BpmnTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnTask">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNSENDTASK"
            interactor="node"
            label="%BpmnSendTask.label"
            tooltip="%BpmnSendTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnSendTask">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNRECEIVETASK"
            interactor="node"
            label="%BpmnReceiveTask.label"
            tooltip="%BpmnReceiveTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnReceiveTask">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNSERVICETASK"
            interactor="node"
              label="%BpmnServiceTask.label"
            tooltip="%BpmnServiceTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnServiceTask">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNUSERTASK"
            interactor="node"
            label="%BpmnUserTask.label"
            tooltip="%BpmnUserTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnUserTask">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNMANUALTASK"
            interactor="node"
            label="%BpmnManualTask.label"
            tooltip="%BpmnManualTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnManualTask">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNSCRIPTTASK"
            interactor="node"
            label="%BpmnScriptTask.label"
            tooltip="%BpmnScriptTask.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnScriptTask">
         </context>
      </creationtool>
       <creationtool
            id="CREATE_BPMNSEQUENCEFLOW"
            interactor="link"
            label="%BpmnSequenceFlow.label"
            tooltip="%BpmnSequenceFlow.tooltip"
            >
         <context
               dependency="FlowElement"
               metaclass="BpmnSequenceFlow"
               router="BPMNSEQUENCEFLOW_ROUTINGMODE">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNSTARTEVENT"
            interactor="point"
            label="%BpmnStartEvent.label"
            tooltip="%BpmnStartEvent.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnStartEvent">
         </context>
         </creationtool>
              <creationtool
            id="CREATE_BPMNINTERMEDIATECATCHEVENT"
            interactor="point"
            label="%BpmnIntermediateCatchEvent.label"
            tooltip="%BpmnIntermediateCatchEvent.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnIntermediateCatchEvent">
         </context>
         </creationtool>
              <creationtool
            id="CREATE_BPMNINTERMEDIATETHROWEVENT"
            interactor="point"
            label="%BpmnIntermediateThrowEvent.label"
            tooltip="%BpmnIntermediateThrowEvent.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnIntermediateThrowEvent">
         </context>
         </creationtool>
        <creationtool
            id="CREATE_BPMNBOUNDARYEVENT"
            interactor="point"
            label="%BpmnBoundaryEvent.label"
            tooltip="%BpmnBoundaryEvent.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnBoundaryEvent">
         </context>
         </creationtool>
         <creationtool
            id="CREATE_BPMNENDEVENT"
            interactor="point"
            label="%BpmnEndEvent.label"
            tooltip="%BpmnEndEvent.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnEndEvent">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNEXCLUSIVEGATEWAY"
            interactor="point"
            label="%ExclusiveGateway.label"
            tooltip="%ExclusiveGateway.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnExclusiveGateway">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNINCLUSIVEGATEWAY"
            interactor="point"
            label="%InclusiveGateway.label"
            tooltip="%InclusiveGateway.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnInclusiveGateway">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNCOMPLEXGATEWAY"
            interactor="point"
            label="%ComplexGateway.label"
            tooltip="%ComplexGateway.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnComplexGateway">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNPARALLELGATEWAY"
            interactor="point"
            label="%ParallelGateway.label"
            tooltip="%ParallelGateway.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnParallelGateway">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNEVENTBASEDGATEWAY"
            interactor="point"
            label="%EventBasedGateway.label"
            tooltip="%EventBasedGateway.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnEventBasedGateway">
         </context>
      </creationtool>
       <creationtool
            id="CREATE_SUBPROCESS"
            interactor="node"
             label="%BpmnSubProcess.label"
            tooltip="%BpmnSubProcess.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnSubProcess">
         </context>
      </creationtool>
        <creationtool
            id="CREATE_ADHOCSUBPROCESS"
            interactor="node"
             label="%BpmnAdHocSubProcess.label"
            tooltip="%BpmnAdHocSubProcess.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnAdHocSubProcess">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_TRANSACTION"
            interactor="node"
             label="%BpmnTransaction.label"
            tooltip="%BpmnTransaction.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnTransaction">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_CALLACTIVITY"
            interactor="node"
             label="%BpmnCallActivity.label"
            tooltip="%BpmnCallActivity.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnCallActivity">
         </context>
      </creationtool>
       <creationtool
            id="CREATE_PARTICIPANT"
            interactor="node"
             label="%BpmnParticipant.label"
             tooltip="%BpmnParticipant.tooltip">
         <context
               dependency="FlowElement"
               metaclass="BpmnLaneSet">
               <property name="kind" value="HORIZONTAL_CONTAINER"/>
         </context>
          </creationtool>
            <creationtool
            id="CREATE_LANE"
            interactor="node"
             label="%BpmnLane.label"
            tooltip="%BpmnLane.tooltip">
         <context
               dependency="LaneSet"
               metaclass="BpmnLane">
               <property name="kind" value="INNER"/>
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNMESSAGEFLOW"
            interactor="link"
            label="%BpmnMessageFlow.label"
            tooltip="%BpmnMessageFlow.tooltip">
            
         <context
               dependency="Collaboration"
               metaclass="BpmnMessageFlow"
               router="BPMNMESSAGEFLOW_ROUTINGMODE">     
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNMESSAGE"
            interactor="linkedNode"
             label="%BpmnMessage.label"
            tooltip="%BpmnMessage.tooltip">
         <context
               dependency="Owner"
               metaclass="BpmnMessage">
         </context>
      </creationtool>
            <creationtool
            id="CREATE_BPMNDATAINPUT"
            interactor="node"
             label="%BpmnDataInput.label"
            tooltip="%BpmnDataInput.tooltip">
         <context
               dependency="OwnerActivity"
               metaclass="BpmnDataInput">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_BPMNDATAASSOCIATION"
            interactor="link"
             label="%BpmnDataAssociation.label"
            tooltip="%BpmnDataAssociation.tooltip">
         <context
               dependency="OwnerActivity"
               metaclass="BpmnDataAssociation"
               router="BPMNDATAASSOCIATION_ROUTINGMODE">
         </context>
      </creationtool>
                  <creationtool
            id="CREATE_BPMNDATAOUTPUT"
            interactor="node"
             label="%BpmnDataOutput.label"
            tooltip="%BpmnDataOutput.tooltip">
         <context
               dependency="OwnerActivity"
               metaclass="BpmnDataOutput">
         </context>
      </creationtool>
                  <creationtool
            id="CREATE_BPMNDATAOBJECT"
            interactor="point"
             label="%BpmnDataObject.label"
            tooltip="%BpmnDataObject.tooltip">
         <context
               dependency="OwnerActivity"
               metaclass="BpmnDataObject">
         </context>
      </creationtool>
                  <creationtool
            id="CREATE_BPMNDATASTORE"
            interactor="point"
             label="%BpmnDataStore.label"
            tooltip="%BpmnDataStore.tooltip">
         <context
               dependency="OwnerActivity"
               metaclass="BpmnDataStore">
         </context>
      </creationtool> 
</extension>
</plugin>
