<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="diagram.communication" point="org.eclipse.e4.workbench.model">
      <fragment
            uri="e4model/diagram_communication_editor.e4xmi">
      </fragment>
      <processor beforefragment="true" class="org.modelio.diagram.editor.communication.plugin.CommunicationProcessor"/>
   </extension>
   
   <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.communication.editor.CommunicationDiagramEditorInputProvider"/>
   </extension>
   
   <extension point="org.modelio.diagram.editor.toolregistry">
      <creationtool
            id="CREATE_COMMUNICATIONNODE"
            interactor="node"
            label="%CommunicationNode.label"
            tooltip="%CommunicationNode.tooltip">
         <context
               metaclass="CommunicationNode">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_COMMUNICATIONCHANNEL" 
            interactor="link"
            label="%CommunicationChannel.label"
            tooltip="%CommunicationChannel.tooltip">
         <context
               metaclass="CommunicationChannel"
               router="COMMUNICATIONCHANNEL_ROUTINGMODE">
         </context>
      </creationtool>
      <creationtool
            id="CREATE_COMMUNICATIONMESSAGE"
            interactor="node"
            label="%CommunicationMessage.label"
            tooltip="%CommunicationMessage.tooltip">
         <context
               metaclass="CommunicationMessage">
         </context>
      </creationtool>
   </extension>
</plugin>
