<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension id="diagram.sequence" point="org.eclipse.e4.workbench.model">
	<fragment
		uri="e4model/diagram_sequence_editor.e4xmi">
	</fragment>
	<processor beforefragment="true" class="org.modelio.diagram.editor.sequence.plugin.SequenceProcessor"/>
</extension>
   
<extension point="org.modelio.diagram.editor.inputprovider">
	<inputprovider class="org.modelio.diagram.editor.sequence.editor.SequenceDiagramEditorInputProvider"/>
</extension>
   
<extension
       point="org.modelio.diagram.editor.toolregistry">
    <creationtool
          id="CREATE_LIFELINE"
          interactor="point"
          label="%Lifeline.label"
          tooltip="%Lifeline.tooltip">
       <context
             dependency="OwnedLine"
             metaclass="Lifeline">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_PARTDECOMPOSITION"
          interactor="point"
          label="%Partdecomposition.label"
          tooltip="%Partdecomposition.tooltip">
       <context
             metaclass="PartDecomposition">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_EXECUTIONSPECIFICATION"
          interactor="node"
          label="%ExecutionSpecification.label"
          tooltip="%ExecutionSpecification.tooltip">
       <context
             dependency="Fragment"
             metaclass="ExecutionSpecification">
       </context>
    </creationtool>
    <creationtool
          icon="icons/messagecreate.png"
          id="CREATE_CREATIONMESSAGE"
          interactor="link"
          label="%CreationMessage.label"
          tooltip="%CreationMessage.tooltip">
       <context
             metaclass="Message">
             <property
                name="messageType"
                value="Creation">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messagedestroy.png"
          id="CREATE_DESTRUCTIONMESSAGE"
          interactor="link"
          label="%DestructionMessage.label"
          tooltip="%DestructionMessage.tooltip">
       <context
             metaclass="Message">
             <property
                name="messageType"
                value="Destruction">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messageasynchronous.png"
          id="CREATE_ASYNCHRONOUSMESSAGE"
          interactor="link"
          label="%AsynchronousMessage.label"
          tooltip="%AsynchronousMessage.tooltip">
       <context
             metaclass="Message">
             <property
                name="messageType"
                value="SimpleAsynchronous">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messagesynchronous.png"
          id="CREATE_SYNCHRONOUSMESSAGE"
          interactor="link"
          label="%SynchronousMessage.label"
          tooltip="%SynchronousMessage.tooltip">
       <context
             metaclass="Message">
          <property
                name="messageType"
                value="SimpleSynchronous">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messageasynchronous.png"
          id="CREATE_ASYNCHRONOUSMESSAGE_INNEREXECUTION"
          interactor="link"
          label="%AsynchronousMessageWithInner.label"
          tooltip="%AsynchronousMessageWithInner.tooltip">
       <context
             metaclass="Message">
          <property
                name="messageType"
                value="InnerExecutionAsynchronous">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messagesynchronous.png"
          id="CREATE_SYNCHRONOUSMESSAGE_INNEREXECUTION"
          interactor="link"
          label="%SynchronousMessageWithInner.label"
          tooltip="%SynchronousMessageWithInner.tooltip">
       <context
             metaclass="Message">
          <property
                name="messageType"
                value="InnerExecutionSynchronous">
          </property>
       </context>
    </creationtool>
    <creationtool
          icon="icons/messagereply.png"
          id="CREATE_REPLY"
          interactor="link"
          label="%Reply.label"
          tooltip="%Reply.tooltip">
       <context
             metaclass="Message">
             <property
                name="messageType"
                value="Reply">
          </property>
       </context>
    </creationtool>
    <creationtool
          id="CREATE_INTERACTIONUSE"
          interactor="node"
          label="%InteractionUse.label"
          tooltip="%InteractionUse.tooltip">
       <context
             metaclass="InteractionUse">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_GATE"
          interactor="node"
          label="%Gate.label"
          tooltip="%Gate.tooltip">
       <context
             metaclass="Gate">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_COMBINEDFRAGMENT"
          interactor="node"
          label="%CombinedFragment.label"
          tooltip="%CombinedFragment.tooltip">
       <context
             metaclass="CombinedFragment">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_INTERACTIONOPERAND"
          interactor="point"
          label="%InteractionOperand.label"
          tooltip="%InteractionOperand.tooltip">
       <context
             metaclass="InteractionOperand">
       </context>
    </creationtool>
    <creationtool
          id="CREATE_STATEINVARIANT"
          interactor="node"
          label="%StateInvariant.label"
          tooltip="%StateInvariant.tooltip">
       <context
             metaclass="StateInvariant">
       </context>
    </creationtool>
 </extension>
    
<extension point="org.eclipse.ui.bindings">
	<!--********************************************-->
	<!-- Key bindings for direct creation shortcuts -->
	<!--********************************************-->
	<!--key sequence  = "M1+N M1+A"
	     contextId = "org.modelio.diagram.SequenceDiagramEditorID.context"
	     schemeId  = "org.modelio.bindings.ShemeID"
	     commandId = "org.modelio.CreateElementCommand">
	     <parameter id="metaclass"  value="Artifact" />
	</key>-->
	
	<!--********************************************-->		
	<!-- Key bindings for tool shortcuts            -->		
	<!--********************************************-->
	<!--<key sequence  = "SPACE"
	     contextId = "org.modelio.diagram.SequenceDiagramEditorID.context"
	     schemeId  = "org.modelio.bindings.ShemeID"
	     commandId = "org.modelio.diagram.editor.SwitchToolCommandId">
	     <parameter id="toolId"  value="CREATE_SYNCHRONOUSMESSAGE" />
	</key>-->
</extension>


</plugin>
