<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.e4.workbench.model"  id="modelContribution">
      <fragment uri="e4model/fragment.e4xmi"></fragment>
      <processor beforefragment="false" class="org.modelio.model.browser.context.ElementCreationDynamicMenuManager">
         <element id="org.modelio.model.browser.menu.createelement"/>
      </processor>
      
      <processor beforefragment="false" class="org.modelio.model.browser.context.ModuleCommandsForModelBrowser">
         <element id="org.modelio.browser.part"/>
      </processor>
            
      <processor beforefragment="false" class="org.modelio.model.browser.context.RelatedDiagramsForModelBrowser">
         <element id="org.modelio.browser.part"/>
      </processor>
   </extension>
   
   	<extension point="org.eclipse.core.expressions.definitions">
   		<definition id="model.browser.test.createstereotype.id">
        	<test property="model.browser.test.createstereotype"/>
		</definition>
		<definition id="model.browser.test.editstereotype.id">
        	<test property="model.browser.test.editstereotype"/>
		</definition>
        <definition
              id="model.browser.expression.fragmentNeedMigration">
           <with variable="org.eclipse.ui.selection">
              <iterate ifEmpty="false" operator="and">
                 <adapt
                       type="org.modelio.gproject.fragment.IProjectFragment">
                    <test
                          property="model.browser.fragment.needMigration">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </definition>
	</extension>
  
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.modelio.model.browser.handlers.properties.CommandVisiblePropertyTester"
			id="model.browser.propertyTester.updatevisible"
			namespace="model.browser.test"
			properties="createstereotype, editstereotype"
			type="org.eclipse.jface.viewers.ISelection">
		</propertyTester>
        <propertyTester
              class="org.modelio.model.browser.handlers.properties.FragmentPropertyTester"
              id="model.browser.propertyTester.fragment"
              namespace="model.browser.fragment"
              properties="name,id,downError,needMigration,state,isUp,isDown,type,scope,property"
              type="org.modelio.gproject.fragment.IProjectFragment">
        </propertyTester>
	</extension>

</plugin>
