<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="diagram.deployment" point="org.eclipse.e4.workbench.model">
      <fragment
            uri="e4model/diagram_deployment_editor.e4xmi">
      </fragment>
      <processor beforefragment="true" class="org.modelio.diagram.editor.deployment.plugin.DeploymentProcessor"/>
   </extension>
   <extension point="org.modelio.diagram.editor.inputprovider">
      <inputprovider class="org.modelio.diagram.editor.deployment.editor.DeploymentDiagramEditorInputProvider"/>
   </extension>
   <extension point="org.modelio.diagram.editor.toolregistry"> 
		<creationtool id="CREATE_ARTIFACT" label="%Artifact.label" tooltip="%Artifact.tooltip" interactor="node">
			<context metaclass="Artifact" dependency="OwnedElement" />
		</creationtool>
		<creationtool id="CREATE_NODE" label="%Node.label" tooltip="%Node.tooltip" interactor="node">
			<context metaclass="Node" dependency="OwnedElement" />
		</creationtool>
		<creationtool id="CREATE_MANIFESTATION" label="%Manifestation.label" tooltip="%Manifestation.tooltip" interactor="link">
			<context metaclass="Manifestation" dependency="Utilized" router="MANIFESTATION_ROUTINGMODE"/>
		</creationtool>
	</extension>
</plugin>
